<html>
  <head>
    <meta charset="utf-8">
    <title>Fin Lit</title>
    <!-- webmaster tools verification tag -->
    <meta name="google-site-verification" content="93JxtoXIY2yEVAhaD0c6mEQPbGBFHJej5ums6qDefBY" />

    <link rel="stylesheet" type="text/css" href="/styles/styles-min.css">
  </head>
  <body>
    <section id="header" class="col-md-12">
      <div id="logo"><a href="/">Fin Lit</a></div>
      <div id="navigation">
        <div><a href="/">Link</a></div>
      </div>
    </section>
    <div id="body-container">
    </div>
    <section id="footer" class="col-md-12">
      <div id="social-links" class="clearfix">
        <div>Created by <!-- <a href="/dylan-wright"> -->Dylan Wright<!-- </a> --> - <a href="https://twitter.com/dswright88">twitter</a> - <a href="https://www.linkedin.com/in/dylanswright">linkedin</a> - <a href="https://github.com/dswright">github</a></div>
      </div>
      <div id="copyright">&copy;2015 ds-wright.com</div>
    </section>
  </body>
  <script src="production.js"></script>

</html>

<!-- Google Analytics Tracking -->

